@import './partials/variables';
@import './partials//global';
@import './partials/navbar';
@import './partials/homepage';
@import './partials/destination';
@import './partials/crew';
@import './partials/technology';

*, *::after, *::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
