@import './variables';
@import './global';

.destination--container{
    min-height: 100vh;
    height: auto;
    width: 100%;
    background-image: url('/src/assets/images/destination/background-destination-desktop.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: $White;

    @media screen and (max-width: rem(768)){
        background-image: url('/src/assets/images/destination/background-destination-tablet.jpg');
    }
    @media screen and (max-width: rem(375)){
        background-image: url('/src/assets/images/destination/background-destination-mobile.jpg');
    }



    .destination{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
        row-gap: rem(70);

        .title{
            h2{
                @media screen and(max-width: rem(492)){
                    font-size: rem(16);
                    text-align: center;
                }
            }
        }

        .destination-planet{
            display: grid;
            grid-template-columns: repeat(2, 50%);
            grid-template-rows: auto;
            align-items: center;

            @media screen and (max-width: rem(1102)){
                column-gap: rem(30);
            }
            @media screen and (max-width: rem(768)){
                grid-template-columns: 1fr;
                grid-template-rows: repeat(2, auto);
                row-gap: rem(53);
                justify-items: center;
            }

            .planet{

                @media screen and (max-width: rem(1102)){
                    width: 100%;
                    height: auto;
                }
                @media screen and (max-width: rem(768)){
                    width: rem(300);
                    height: auto;
                }
                @media screen and(max-width: rem(375)){
                    width: rem(170);
                }

                img{

                    @media screen and (max-width: rem(1102)){
                        width: 100%;
                        height: auto;
                        object-fit: cover;
                    }
                    
                }
            }

            .planet-name{
                ul{
                    display: flex;
                    align-items: center;
                    gap: rem(33);
                    margin-bottom: rem(55);

                    @media screen and (max-width: rem(768)){
                        justify-content: center;
                    }

                    li{
                        a{
                            color: $Icy-Plains;
                            position: relative;
                            cursor: pointer;

                            &:hover::before{
                                content: "";
                                width: 100%;
                                height: rem(3);
                                background-color: $White;
                                opacity: 50%;
                                position: absolute;
                                bottom: rem(-12);
                                left: 0;
                            }
                            &.active::before{
                                content: "";
                                width: 100%;
                                height: rem(3);
                                background-color: $White;
                                position: absolute;
                                bottom: rem(-12);
                                left: 0;
                            }
                        }
                    }
                }

                .planet-choose{
                    .planet-description{

                        @media screen and (max-width: rem(768)){
                            text-align: center;
                        }

                        h1{
                            text-transform: uppercase;
                            @media screen and (max-width: rem(962)){
                                font-size: 10vw;
                            }
                            @media screen and (max-width: rem(768)){
                                font-size: rem(80);
                            }
                            @media screen and (max-width: rem(768)){
                                font-size: rem(56);
                            }
                        }

                        p{
                            margin-bottom: rem(54);

                            @media screen and (max-width: rem(962)){
                                font-size: 2vw;
                            }
                            @media screen and (max-width: rem(768)){
                                font-size: rem(16);
                            }
                            @media screen and (max-width: rem(768)){
                                font-size: rem(15);
                            }
                        }
                        border-bottom: 1px solid #383B4B;
                        margin-bottom: rem(29);
                    }

                    .planet-distance{
                        display: flex;
                        align-items: center;
                        gap: rem(79);

                        @media screen and (max-width: rem(768)){
                            justify-content: center;
                            text-align: center;
                        }
                        @media screen and(max-width: rem(375)){
                            flex-direction: column;
                            gap: rem(32);
                        }

                    }
                }
            }
        }
    }

}